#face{
   background-image: linear-gradient(to right ,rgb(3, 3, 180),rgb(116, 116, 252),blue);
    width: 450px;
    margin: auto;
    height: 450px;
    padding: 5px;
    border: solid 3px black;
    border-radius: 4px;

}
input{
    margin-top: 50px;
    width: 100px;
    margin-left: 20px;
    border: solid 2px black;
    
    

}
#face>h1{
    color: white;
    margin-top: -8px;
    text-align: center;
}
#res{
    background-color: white;
    display: block;
    width: 70px;
    margin: auto;
    margin-top: 22px;
}
